# TRACCC library, part of the ACTS project (R&D line)
#
# (c) 2021-2025 CERN for the benefit of the ACTS project
#
# Mozilla Public License Version 2.0

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build system related files.
CMakeUserPresets.json
out/
log/build01.log
log/ptxas.log
log/spill.log
log/spill_summary.log
build*/

01_build.sh
02_run.sh
03_nc_report
04_iterate_maxrregs.sh
git_diff.log
log/build02.log
log/error.log
log/gitdiff.log
log/v1_0_0/maxreg_iter.log
log/v1_1_0/maxreg_iter.log
log/v1_2_0/maxreg_iter.log
nc_report/rep2csv.sh
nc_report/v1_0_0/baseline/nc_baseline_report.ncu-rep
nc_report/v1_0_0/baseline/nc_report.csv
nc_report/v1_0_0/maxregcount128/nc_maxreg_128_report.ncu-rep
nc_report/v1_0_0/maxregcount128/nc_report.csv
nc_report/v1_1_0/maxregcount144/nc_report.csv
nc_report/v1_1_0/maxregcount144/nc_report.ncu-rep
nc_report/v1_2_0/nc_report.csv
nc_report/v1_2_0/nc_report.ncu-rep
log/
nc_report.csv