# TRACCC library, part of the ACTS project (R&D line)
#
# (c) 2021-2025 CERN for the benefit of the ACTS project
#
# Mozilla Public License Version 2.0

#Ignore .csv files
*.csv
*.csv~
#ignore files
example_ACTS.json
example_ACTS.json~
example.json~
main_test.py
main_test.py~
seeding_param.json
seeding_param.json~

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build system related files.
CMakeUserPresets.json
out/
