name: Builds

on:
  push:
  pull_request:
    branches:
      - main

env:
  CTEST_OUTPUT_ON_FAILURE: 1

jobs:
  builds:
    name: ${{ matrix.platform.name }}-${{ matrix.build }}
    runs-on: ubuntu-latest
    container: ${{ matrix.platform.container }}
    strategy:
      matrix:
        platform:
          - name: CPU
            container: ghcr.io/acts-project/ubuntu2004:v11
          - name: CUDA
            container: ghcr.io/acts-project/ubuntu2004_cuda:v16.1
        build:
          - Release
          - Debug
    steps:
      - name: Dependencies
        run: apt-get install -y git-lfs
      - uses: actions/checkout@v2
        with:
          submodules: true
          lfs: true
      - name: Configure
        run: >
          if ${{ matrix.platform.name == 'CPU'}}; then
            cmake -B build -S . \
              -DCMAKE_BUILD_TYPE=${{ matrix.build }}
          elif ${{ matrix.platform.name == 'CUDA'}}; then
            cmake -B build -S . \
              -DCMAKE_BUILD_TYPE=${{ matrix.build }} \
              -DCMAKE_CUDA_COMPILER=$(which nvcc) \
              -DTRACCC_BUILD_CUDA=ON
          fi
      - name: Build
        run: cmake --build build -- -j$(nproc)
      - name: Run tests & examples
        run: CTEST_PARALLEL_LEVEL=$(nproc) cmake --build build -- test
